@use './utils/visually-hidden.scss';

$day-width: 100px;
$number-of-days: 7;
$number-of-gaps: $number-of-days - 1;
$gap: 1px;
$number-of-gaps-total: $number-of-gaps * $gap;
$white-space: 10px;
$paddings-total: $white-space * 2;
$width: calc(
  $number-of-days * $day-width + $number-of-gaps-total + $paddings-total
);
$week-days: (
  'mon': 0,
  'tue': 1,
  'wed': 2,
  'thu': 3,
  'fri': 4,
  'sat': 5,
  'sun': 6,
);

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calendar {
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  width: $width;
  padding: 0 $white-space;
}

.calendar__day {
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  width: $day-width;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
}

@for $day from 1 through 31 {
  .calendar__day:nth-child(#{$day})::before {
    content: '#{$day}';
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
  }
}

@each $week-day, $number in $week-days {
  .calendar--start-day-#{$week-day} .calendar__day:first-child {
    margin-left: calc($number * ($day-width + $gap));
  }
}

// @for $month-length from 28 through 31 {
//   .calendar__day:nth-child(#{$month-length}) {
//     background-color: #eee;
//     border: 1px solid #000;
//   }
// }
