@use './utils/visually-hidden.scss';
@use 'sass:math';

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.calendar__day {
  box-sizing: border-box;

  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
}

.calendar__day--empty {
  visibility: hidden;
}

@for $day from 1 through 31 {
  $position: $day + 6;
  $row: math.ceil($position / 7);
  $column: $position % 7;

  @if $column == 0 {
    $column: 7;
  }

  .calendar__row:nth-child(#{$row}) .calendar__day:nth-child(#{$column})::before {
    content: "#{$day}";
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
  }
}
