$day-width: 100px;
$number-of-days: 7;
$number-of-gaps: $number-of-days - 1;
$gap: 1px;
$number-of-gaps-total: $number-of-gaps * $gap;
$white-space: 10px;
$paddings-total: $white-space * 2;
$width: calc(
  $number-of-days * $day-width + $number-of-gaps-total + $paddings-total
);
$week-days: (
  'mon': 0,
  'tue': 1,
  'wed': 2,
  'thu': 3,
  'fri': 4,
  'sat': 5,
  'sun': 6,
);
